*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff;
    background-color: #000;
    background-image:  url(../images/body-bg.jpg), url(../images/footer-bg.jpg);
    background-position: 50% 0, 50% 100%;
    background-repeat: no-repeat, no-repeat;
}

@-webkit-keyframes Opacity {
    0% {opacity: 1;}
    4% {opacity: .5;}
    8% {opacity: 1;}
    12% {opacity: .5;}
    16% {opacity: 1;}
    20% {opacity: .5;}
    24% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes Opacity {
    0% {opacity: 1;}
    4% {opacity: .5;}
    8% {opacity: 1;}
    12% {opacity: .5;}
    16% {opacity: 1;}
    20% {opacity: .5;}
    24% {opacity: 1;}
    100% {opacity: 1;}
}

a {
    color: #ffffff;
}

a:focus, a:hover, a:active {
    color: #ffffff;
    text-decoration: underline;
}

.btn-link {
    color: #ffffff;
}

.btn-link:focus, .btn-link:hover, .btn-link:active {
    color: #ffffff;
    text-decoration: underline;
}

.btn-more {
    background: url("../images/btn-more.png") no-repeat 0 50%;
    display: inline-block;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, .8);
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    /* background: linear-gradient(-15deg, #d2dadd, #fff, #d2dadd, #fff, #d2dadd, #fff); */
    background: rgba(0,0,0, .5);
    color: #000000;
}

.block {
    padding: 50px 0;
}

.block-title {
    font-size: 86px;
    line-height: 86px;
    margin-bottom: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "PFDinCondensedRegular";
}

.page-title {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "PFDinCondensedRegular";
}

.page-title a {
    color: #a16c10;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.page-title a:hover {
    text-decoration: none;
    color: #ffffff;
}


.line-top:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
    margin-bottom: 40px;
}

.line-bottom:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background: #ffffff;
}

.owl-carousel .owl-prev, .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
}

.owl-carousel .owl-nav i {
    color: #fff;
    font-size: 60px;
}

.owl-carousel .owl-nav .disabled {
    opacity: .4;
}

.owl-carousel .owl-prev {
    left: 0;
}

.owl-carousel .owl-next {
    right: 0;
}

.soc {
    list-style: none;
    margin-bottom: 0;
}

.soc li {
    display: inline-block;
}

/* header */
header.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

header i[class*=fa-caret] {
    padding-left: 5px;
}

header .top-links {
    font-size: 12px;
    font-family: "PFDinCondensedRegular";
    margin-top: 22px;
    min-height: 24px;
}

header .top-links a {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

header .logo {
    text-align: center;
}

header .logo img {
    display: inline-block;
}

header .soc {
    float: right;
}

/* social */
.soc li {
    padding-left: 12.5px;
    margin-left: 12.5px;

    display: inline-block;
}

.soc li + li {
    border-left: 1px solid #fff;
}

.soc li a + a {
    margin-left: 15px;
}

.soc i {
    font-size: 21px;
    line-height: 22px;
}

.soc a i, .soc a svg {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.soc a:hover i, .soc a:hover svg {
    -webkit-animation: Opacity 1s linear 0.1s 1;
    animation: Opacity 1s linear 0.1s 1;
}

.soc .yandex-music {
    background-image: url(../images/svg/yandex-music.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 31px;
    height: 33px;
    margin-top: -5px;
    margin-bottom: -9px;
}

.soc .dj {
    width: 34px;
    height: 11px;
}

/* main-menu */
#mainmenu .icon-block {
    text-transform: uppercase;
    display: none;
}

#mainmenu .icon-block.block-open .fa-times {
    display: inline-block;
}

nav {
    font-family: "PFDinCondensedRegular";
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

header nav ul:before, header nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 2px solid #fff;
    vertical-align: middle;
    position: absolute;
    top: 50%;
}

header nav ul:before {
    margin-left: -100%;
    left: 0;
}

header nav ul:after {
    margin-right: -100%;
    right: 0;
}

nav ul {
    padding: 0 16px;
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;

}

nav ul li a {
    padding: 4px 8px 2px 8px;
    line-height: 21px;
    letter-spacing: 0.5px;
    display: block;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active:focus, nav ul li.active a {
    /* background: linear-gradient(-15deg, #d2dadd, #fff, #d2dadd, #fff, #d2dadd, #fff); */
    background: rgba(0,0,0, .7);
    color: #fff;
    text-decoration: none;
}

.fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}

/* mainslider */
#mainslider {
    position: relative;
}

#mainslider .mdwn {
    position: absolute;
    bottom: 47px;
    left: 50%;
    z-index: 10;
    margin-left: -15.5px;
    width: 31px;
    height: 57px;
    background: url(../images/mdwn.png) no-repeat 0 0;
}

#mainslider .mdwn a {
    display: block;
    width: 100%;
    height: 100%;
}

#mainslider .slide {
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 796px;
}

#mainslider .content {
    color: #fff;
    width: 340px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 55%;
    z-index: 1;
}

#mainslider .city {
    font-size: 100px;
    line-height: 100px;
    font-family: "PFDinCondensedRegular";
}

#mainslider .date {
    font-size: 66px;
    line-height: 66px;
    font-family: "PFDinCondensedRegular";
}

#mainslider .description {
    font-size: 14px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#mainslider .btn-more {
    margin-top: 20px;
}

#mainslider .owl-dots {
    position: absolute;
    bottom: 140px;
    width: 100%;
    text-align: center;
}

#mainslider .owl-dot {
    width: 13px;
    height: 13px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 0 9px;
    display: inline-block;
    background: #ffffff;
}

#mainslider .owl-dot.active {
    background: #fb3535;
}

#new {
    background: url(../images/body-bg.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.round-items {
    padding: 0 20px;
}

.round-items .owl-prev, .round-items .owl-next {
    top: 90px;
}

.round-items a {
    display: block;
    text-align: center;
    padding: 0 15px;
}

.round-items span{
    display: inline-block;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
}

.round-items .image {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.round-items .image img {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.round-items .image:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.round-items .play .image:after {
    display: inline-block;
    width: 61px;
    height: 61px;
    content: "";
    background: url(../images/video-play.png);
    position: absolute;
    left: 50%;
    margin-left: -30.5px;
    margin-top: -30.5px;
    top: 50%;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.round-items .play:hover .image:after {
    opacity: 1;
}

.round-items .title {
    font-size: 17px;
}

.round-items .type {
    font-size: 11px;
}

/* photos */
.photos .image {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.photos .title {
    text-transform: uppercase;
    font-family: "PFDinCondensedRegular";
}

#about .photos {
    width: 80%;
    margin: 0 auto;
}

.photo-item .description {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.photo-slider .owl-nav > div {
    width: 59px;
    height: 117px;
    margin-top: -58.5px;
}

.photo-slider .owl-prev {
    background: url(../images/slider-prev.png) no-repeat 50%;
    left: 15%;
}

.photo-slider .owl-next {
    background: url(../images/slider-next.png) no-repeat 50%;
    right: 15%;
}

.photo-slider .owl-nav > div:hover{
    -webkit-animation: Opacity 1s linear 0.1s 1;
    animation: Opacity 1s linear 0.1s 1;
}

/* videos */
.videos {

}

.videos .image {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.videos .image img {
    width: 100%;
    height: auto;
}

.videos .image .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .8);
    color: #fff;
    display: block;
    width: 100%;
    height: 63px;
    padding: 12px 0px 12px 94px;
}

.videos .image .caption:after {
    display: inline-block;
    width: 37px;
    height: 37px;
    margin-top: -18.5px;
    content: "";
    background: url(../images/video-play.png);
    position: absolute;
    left: 30px;
    -webkit-background-size: cover;
    background-size: cover;
    top: 50%;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.videos .image:hover .caption:after {
    opacity: 1;
}

.videos .image .caption span {
    display: block;
}

.videos .image .title {
    font-size: 17px;
}

.videos .image .type {
    font-size: 11px;
}

.video-item .description {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* events */
.events {

}

.events a , .events a span{
    display: block;
}

.events .fa-caret-right {
    position: absolute;
    top: 5px;
    left: 0;
}

.events .wlogo {
    margin-bottom: 25px;
}

.events a {
    padding-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

.events .title {
    font-size: 18px;
}

.events .date {
    font-size: 16px;
}

/* news */
.news {

}

.news .image {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

.news .image img {
    max-width: 100%;
    height: auto;
    opacity: .8;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translateZ(0);
}

.news .image:hover img {
    opacity: 1;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news .image a {
    display: block;
}

.news .image .date {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .8);
    color: #fff;
    display: block;
    width: 100%;
    padding: 0 15px;
    line-height: 37px;
    font-size: 14px;
}

.news .caption {
    padding: 15px;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.news .title {
    font-size: 17px;
    text-transform: uppercase;
}

.news .type {
    font-size: 11px;
    text-transform: uppercase;
}

.news-item .content{
    font-size: 16px;
}

.news-item .content {
    margin-bottom: 20px;
}

.stick-item {
    background: rgba(0,0,0,.4);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 32px;
    margin-bottom: 40px;
    border-top: 1px solid #e9ebf0;
    border-bottom: 1px solid #e9ebf0;
}

.stick-item .date {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 35px;
}

.stick-item .title, .stick-item .description{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.stick-item .description {
    font-weight: normal;
    margin-bottom: 0;
}

.content h4 {
    font-weight: bold;
    margin-bottom: 0;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
}

#contact .content p  {
    text-align: center;
}

.content .img-left {
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
}

.content .img-right {
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
}


/* pagination */
.pagination {

}

.pagination>li>a, .pagination>li>span {
    background: none;
    border: 0;
    font-family: "PFDinCondensedRegular";
    font-size: 21px;
    line-height: 21px;
}

.pagination>li>a {
    color: #fff;
}

.pagination>li>span {
    color: #c08d4e;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #a16c10;
    background: none;
    border: 0;
}

/* item filter */
.items-filter {
    list-style: none;
    margin-bottom: 40px;
}

.items-filter > li{
    display: inline-block;
    margin: 0 15px;
}

.items-filter>li>a {
    color: #ffffff;
    font-family: "PFDinCondensedRegular";
    font-size: 21px;
    line-height: 21px;
}

.items-filter>li>a:focus, .items-filter>li>a:hover, .items-filter>li>a.active {
    color: #a16c10;
    text-decoration: none;

}

/* isotope */
.grid {
  background: none;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  position: relative;
  overflow: hidden;
    border: 10px solid transparent;
}

.grid-item img {
    display: block;
    max-width: 100%;
    opacity: .8;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;  
    -webkit-transform: translateZ(0);
}


.grid-item:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.grid-item a {
    display: block;
}

.grid-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #a16c10;
    width: 100%;
    height: 23px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding-bottom: 30px;

}

footer .container{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    border-top: 5px solid #787878;
}

footer nav {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
}

footer nav li {
    margin: 0 7.5px;
}

footer .footer-links {
    color: #fff;
    margin-bottom: 30px;
}

footer .footer-links a {
    color: #fff;
}

footer .soc {
    display: inline-block;
}

footer .soc li {
    margin: 0 5px;
}

footer .copy {
    margin-bottom: 15px;
}

footer .fod {
    display: inline-block;
    margin-bottom: 30px;
}

footer .fod img {
    display: block;
}
