*{
	margin: 0;
	padding: 0;
}

body {
    font-size: 14px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff;
    background-color: #000;
    background-image:  url(../images/body-bg.jpg), url(../images/footer-bg.jpg);
    background-position: 50% 0, 50% 100%;
    background-repeat: no-repeat, no-repeat;

}

a {
	color: #ffffff;
}

a:focus, a:hover, a:active {
	color: #ffffff;
	text-decoration: underline;
}

.btn-link {
    color: #ffffff;
}

.btn-link:focus, .btn-link:hover, .btn-link:active {
    color: #ffffff;
    text-decoration: underline;
}

.btn-more {
    background: url("../images/btn-more.png") no-repeat 0 50%;
    display: inline-block;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, .8);
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background: linear-gradient(-15deg, #d2dadd, #fff, #d2dadd, #fff, #d2dadd, #fff);
    color: #000000;
}

.block {
    padding: 50px 0;
}

.block-title {
    font-size: 86px;
    line-height: 86px;
    margin-bottom: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "PFDinCondensedRegular";
}

.owl-carousel .owl-prev, .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
}

.owl-carousel .owl-nav i {
    color: #fff;
    font-size: 60px;
}

.owl-carousel .owl-nav .disabled {
    opacity: .4;
}

.owl-carousel .owl-prev {
    left: 0;
}

.owl-carousel .owl-next {
    right: 0;
}

.soc {
    list-style: none;
    margin-bottom: 0;
}

.soc li {
    display: inline-block;
}

/* header */
header.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

header i[class*=fa-caret] {
    padding-left: 5px;
}

header .top-links {
	font-size: 12px;
	font-family: "PFDinCondensedRegular";
	margin-top: 22px;
	min-height: 24px;
}

header .top-links a {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

header .logo {
	text-align: center;
}

header .logo img {
	display: inline-block;
}

header .soc {
    float: right;
}

header .soc li {
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #fff;
    display: inline-block;
}

header .soc li a + a {
    margin-left: 24px;
}

header .soc i {
    font-size: 23px;
    line-height: 22px;
}

header .yandex-music {
    background-image: url(../images/svg/yandex-music.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 31px;
    height: 33px;
    margin-top: -5px;
    margin-bottom: -9px;
}

.language {
    float: right;
    padding-top: 4px;
    position: relative;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}

.language .btn-link {
    text-decoration: none;
}

.language .btn-link img {
    vertical-align: middle;
    float: right;
    margin-left: 9px;
    width: 23px;
    height: 13px;
}

.language .dropdown-menu {
    min-width: 0;
}

.language .dropdown-menu li {
    text-align: right;
}

#mainmenu .icon-block {
    text-transform: uppercase;
    display: none;
}

#mainmenu .icon-block.block-open .fa-times {
    display: inline-block;
}

nav {
    font-family: "PFDinCondensedRegular";
    font-size: 21px;
    text-align: center;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

header nav ul:before, header nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 2px solid #fff;
    vertical-align: middle;
    position: absolute;
    top: 50%;
}

header nav ul:before {
    margin-left: -100%;
    left: 0;
}

header nav ul:after {
    margin-right: -100%;
    right: 0;
}

nav ul {
    padding: 0 16px;
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    padding: 7px 16px;
    line-height: 21px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active:focus, nav ul li.active a {
    background: linear-gradient(-15deg, #d2dadd, #fff, #d2dadd, #fff, #d2dadd, #fff);
    color: #000000;
    text-decoration: none;
}

.menu-wrapper .language {
    display: inline-block;
    float: none;
    color: #fff;
}

.menu-wrapper .language a{
    color: #fff;
}

.fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}

/* mainslider */
#mainslider {
    position: relative;
}

#mainslider .mdwn{
    position: absolute;
    bottom: 47px;
    left: 50%;
    z-index: 1;
    margin-left: -15.5px;
    width: 31px;
    height: 57px;
    background: url(../images/mdwn.png) no-repeat 0 0;
}


#mainslider .slide {
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 796px;

}

#mainslider .content {
    color: #fff;
    width: 340px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 55%;
    z-index: 1;
}

#mainslider .city {
    font-size: 100px;
    line-height: 100px;
    font-family: "PFDinCondensedRegular";
}

#mainslider .date {
    font-size: 66px;
    line-height: 66px;
    font-family: "PFDinCondensedRegular";
}

#mainslider .description {
    font-size: 14px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#mainslider .btn-more {
    margin-top: 20px;
}

#mainslider .owl-dots {
    position: absolute;
    bottom: 140px;
    width: 100%;
    text-align: center;
}

#mainslider .owl-dot {
    width: 13px;
    height: 13px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 0 9px;
    display: inline-block;
    background: #ffffff;
}

#mainslider .owl-dot.active {
    background: #fb3535;
}

#new {
    background: url(../images/body-bg.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.round-items {
    padding: 0 20px;
}

.round-items .owl-prev, .round-items .owl-next {
    top: 90px;
}

.round-items a {
    display: block;
    text-align: center;
    padding: 0 15px;
}

.round-items span{
    display: inline-block;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
}

.round-items .image {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.round-items .image img {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.round-items .image:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.round-items .play .image:after {
    display: inline-block;
    width: 61px;
    height: 61px;
    content: "";
    background: url(../images/video-play.png);
    position: absolute;
    left: 50%;
    margin-left: -30.5px;
    margin-top: -30.5px;
    top: 50%;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.round-items .play:hover .image:after {
    opacity: 1;
}

.round-items .title {
    font-size: 17px;
}

.round-items .type {
    font-size: 11px;
}

.photos .image {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.photos .title {
    text-transform: uppercase;
    font-family: "PFDinCondensedRegular";
}

#about .photos {
    width: 80%;
    margin: 0 auto;
}

.videos {

}

.videos .image {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.videos .image img {
    width: 100%;
    height: auto;
}

.videos .image .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .8);
    color: #fff;
    display: block;
    width: 100%;
    height: 63px;
    padding: 12px 0px 12px 94px;
}

.videos .image .caption:after {
    display: inline-block;
    width: 37px;
    height: 37px;
    margin-top: -18.5px;
    content: "";
    background: url(../images/video-play.png);
    position: absolute;
    left: 30px;
    -webkit-background-size: cover;
    background-size: cover;
    top: 50%;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.videos .image:hover .caption:after {
    opacity: 1;
}

.videos .image .caption span {
    display: block;
}

.videos .image .title {
    font-size: 17px;
}

.videos .image .type {
    font-size: 11px;
}

.events {

}

.events a , .events a span{
    display: block;
}

.events .fa-caret-right {
    position: absolute;
    top: 5px;
    left: 0;
}

.events .wlogo {
    margin-bottom: 25px;
}

.events a {
    padding-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

.events .title {
    font-size: 18px;
}

.events .date {
    font-size: 16px;
}

.news {

}

.news .image {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

.news .image img {
    max-width: 100%;
    height: auto;
    opacity: .8;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translateZ(0);
}

.news .image:hover img {
    opacity: 1;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news .image a {
    display: block;
}

.news .image .date {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .8);
    color: #fff;
    display: block;
    width: 100%;
    padding: 0 15px;
    line-height: 37px;
    font-size: 14px;
}

.news .caption {
    padding: 15px;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.news .title {
    font-size: 17px;
    text-transform: uppercase;
}

.news .type {
    font-size: 11px;
    text-transform: uppercase;
}

.stick-item {
    background: url(../images/stick-news-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 32px;
    margin-bottom: 40px;
    border-top: 1px solid #e9ebf0;
    border-bottom: 1px solid #e9ebf0;
}

.stick-item .date {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 35px;
}

.stick-item .title, .stick-item .description{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.stick-item .description {
    font-weight: normal;
    margin-bottom: 0;
}


/* isotope */
.grid {
  background: #000;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  position: relative;
  overflow: hidden;
}

.grid-item img {
	display: block;
	max-width: 100%;
	opacity: .8;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;  
	-webkit-transform: translateZ(0);
}


.grid-item:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
	opacity: 1;
}

.grid-item a {
	display: block;
}

.grid-item .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #a16c10;
	width: 100%;
	height: 23px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
}

footer {
    text-align: center;
    padding-bottom: 30px;

}

footer .container{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    border-top: 5px solid #787878;
}

footer nav {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
}

footer .footer-links {
    color: #fff;
    margin-bottom: 30px;
}

footer .footer-links a {
    color: #fff;
}

footer .soc {
    display: inline-block;
    margin-right: 25px;
}

footer .soc li {
    margin: 0 3px;
}

footer .soc i {
    padding: 2px;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


footer .soc .fa-facebook{
    background: #39579b;
}

footer .soc .fa-youtube{
    background: #cf3427;
}

footer .soc .fa-instagram{
    background: #517ea6;
}

footer .language {
    float: none;
    display: inline-block;
    font-family: "PFDinCondensedRegular";

}

footer .copy {
    margin-bottom: 15px;
}

footer .fod {
    display: inline-block;
    margin-bottom: 30px;
}

footer .fod img {
    display: block;
}
